#gallery-header {
    padding-bottom: 0;
}

#gallery-header h2 {
    text-align: center;
}

#gallery {
    line-height: 0;
    padding: 0;
}

#gallery img {
    width: 100%;
    line-height: normal;
}

#gallery figure {
    position: relative;
    margin: 1rem;
}

#gallery figcaption {
    line-height: normal;
    position: absolute;
    bottom: 0;
    background-color: rgba(60, 60, 60, 0.8);
    color: #e1e1e1;
    padding: 0.5rem;
    width: 100%;
}

@media screen and (min-width: 576px) {
    #gallery {
        column-count: 2;
        column-gap: 1rem;
        padding: 1rem;
    }

    #gallery figure {
        margin: 0;
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 768px) {
    #gallery {
        column-count: 3;
    }
}

@media screen and (min-width: 992px) {
    #gallery {
        column-count: 4;
    }
}