/* Generic styles which apply across the site */

/* Import Rufina and Oxygen from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Rufina:wght@400;700&display=swap');

/* Override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oxygen', sans-serif;
    color: #252525;
}

/* Text styles */

h1,
h2 {
    font-family: 'Rufina', serif;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-weight: 300;
    font-style: italic;
    font-size: 1.25rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

a.link-light {
    color: #e1e1e1;
}

a.link-dark {
    color: #252525;
}

a.cta {
    font-size: 1.3rem;
}

/* Buttons and other interactive elements */

button {
    background-color: #e6e6e6;
    border: 1px solid #252525;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 1.5rem;
    font-family: 'Rufina', serif;
}

/* Sections and containers */

.bg-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(60, 60, 60, 0.7);
}

/* Header */

header {
    position: fixed;
    width: 100%;
    z-index: 99;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.5rem 1rem;
    color: #e1e1e1;
    background-color: rgba(60, 60, 60, 0.8);
    display: flex;
}

header #logo-link {
    text-decoration: none;
    color: inherit;
}

header #logo {
    color: #e1e1e1;
}

nav {
    font-size: 1.25rem;
    position: absolute;
    left: 0;
    padding: 0 1rem;
    width: 100%;
    display: none;
    top: 100%;
    background-color: inherit;
}

nav ul {
    list-style-type: none;
}

nav li {
    margin-bottom: 1rem;
}

nav a {
    color: inherit;
    text-decoration: none;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

#nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */

.content-container {
    /* Class to restrict the width of content within sections on wider displays */
    max-width: 1000px;
    margin: 0 auto;
}

/* Footer */

footer {
    background-color: #5f5f5f;
    color: #e1e1e1;
    text-align: right;
    padding: 0.75rem 1rem;
}

footer span {
    font-size: 0.75rem;
}

footer .socials-container {
    display: flex;
    font-size: 2rem;
    gap: 8px;
    justify-content: space-evenly;
    margin: 0 auto 0.5rem;
    max-width: 800px;
}

footer a {
    color: #e1e1e1;
}

@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1440px) {
    
}